*{
  padding: 0;
  margin: 0;
}
header{
  
}

section{
  float: left;
/*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  width: 52.5rem;
  padding: 2.5rem;
}

aside{
  float:right;
 /*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  padding: 1.25rem;
  width: 21.25rem;
}

article{
  margin: 10px 0;
}
main{ font-family: Arial, Helvetica, sans-serif;

}