/*{
    margin: 0;
    padding-block-end: 0;
}*/

header { 
    background-color: blue;
   
    }
    
#titulo-importante, h3, h4{

    color: white;
}
section{
    background-color: green;
}
h2{
    background-color: yellow;
}
footer{
    background-color: black;
}
.texto-generico{
    color: rgb(243, 208, 7);
}
.titulo-pouco-importante{
    color: orangered;
}
h1{
    color:deeppink
}